<%# Assignment name %>
<h3> <%= @assignment.title %> </h3>
<h5> Due: <%= @assignment.due_date.strftime('%d %b %Y') %></h5>

<%# Import Marks button %>
<h5 style="margin-top: 30px">Import Marks from CSV</h5>
<%= form_with(url: assignment_import_path(@assignment), multipart: true) do %>
    <div class="input-field">
        <div class="file-field">
            <%# File icon/button %>
            <div class="grey darken-2 btn">
                <span><i class="material-icons">note_add</i></span>
                <%= file_field_tag 'grades' %>
            </div>

            <%# Submit button (I wish I knew why it has to be before the text) %>
            <div class="input-field">
                <%= submit_tag 'Import', class: "grey darken-2 btn", style: "float: right; margin-left: 10px" %>
            </div>

            <%# Text box %>
            <div class="file-path-wrapper">
                <%= text_field_tag 'filename', nil, class: 'file-path validate' %>
            </div>
        </div>
    </div>
<% end %>


<div class="input-field">
    <%= link_to(button_tag("Export", class: "grey darken-2 waves-effect waves-light btn"), assignment_export_path(@assignment, format: "csv")) %>
</div>

<%# Table listing all submissions for an assignment %>
<h5 style="margin-top: 30px">All Submissions</h5>
<table id="table-id">
    <thead>
        <tr>
            <%# Student ID %>
            <th class="sortable">
                <div class="valign-wrapper">
                    <i class="material-icons">assignment</i>
                    <span style="margin-left: 10px">Student ID</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Student Name %>
            <th class="sortable">
                <div class="valign-wrapper">
                    <i class="material-icons">people</i>
                    <span style="margin-left: 10px">Student Name</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Submission Date %>
            <th class="sortable">
                <div class="valign-wrapper">
                    <i class="material-icons">access_time</i>
                    <span style="margin-left: 10px">Submitted</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Mark %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assessment</i>
                    <span style="margin-left: 10px">Mark</span>
                </div>
            </th>

            <%# View button %>
            <th data-sort-method='none'>
            </th>
        </tr>
    </thead>

    <tbody>
        <% @submissions.each_with_index do |submission, index| %>
            <tr>
                <%# Student ID %>
                <td>
                    <h6><%= "a#{submission.student_id}" %></h6>
                </td>

                <td>
                    <% student = Student.find(submission.student_id) %>
                    <h6><%= "#{student.first_name} #{student.last_name}" %></h6>
                </td>

                <%# Submission date %>
                <td data-sort="<%= (submission.submitted_date != nil) ? submission.submitted_date.to_time.to_i : 9007199254740991 %>">
                    <% if submission.submitted_date == nil && Date.today >= @assignment.due_date %>
                        <h6 style="color:Red;"><i>Missing</i></h6>
                    <% elsif submission.submitted_date == nil && Date.today < @assignment.due_date %>
                        <h6><i>Not Submitted</i></h6>
                    <% elsif submission.submitted_date != nil && submission.submitted_date >= @assignment.due_date %>
                        <h6 style="color:Red;"><%= submission.submitted_date.strftime('%d %b %Y') %></h6>
                    <% elsif submission.submitted_date != nil && submission.submitted_date < @assignment.due_date %>
                        <h6><%= submission.submitted_date.strftime('%d %b %Y') %></h6>
                    <% end %>
                </td>

                <%# Mark received %>
                <td>
                    <h6><%= (submission.grade==nil) ? "0" : @grades[index] %>/<%= @assignment.max_points %></h6>
                </td>

                <%# Details button %>
                <td>
                    <div class="valign-wrapper">
                        <div style="margin-left: auto">
                            <div class="valign-wrapper">
                            <%# Show comment icon if there are comments%>
                            <% unless submission.comments.empty? %>
                                    <i class="material-icons grey-text text-darken-1" style="font-size: 1.3em; margin-right: 15px">chat</i>
                            <% end %>
                            <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), submission_path(submission)) %>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= javascript_include_tag 'sortable-arrows' %>
