<%# Headings %>
<h3 style="margin-bottom: 0"> <%= "Add comment to a#{@student.id}'s submission" %> </h3>
<h5 style="margin-bottom: 1.4em"> <%= @assignment.title %> </h5>

<%= form_with(url: submission_comments_path(@submission), id: "comment-form") do %>
    <%# Comment input %>
    <div class="input-field">
        <%= label_tag("content", "Comment") %>
        <%= text_field_tag("content", nil, class: "validate") %>
    </div>

    <%= submit_tag("Add Comment", class: "grey darken-2 btn") %>
<% end %>
<br>
<%=link_to(button_tag("Cancel", class: "grey btn"), submission_path(@submission)) %>