<h3>Your Dashboard</h3>

<h5>Courses</h5>
<%# Show message if no courses %>
<% if @courses.empty? %>
    <div style="text-align: center; margin-top: 20%">
        <h6><i>You are not assigned to any courses</i></h6>
    </div>

<% else %>
    <%# Table of courses %>
    <table>
        <thead>
            <tr>
                <%# Course Name %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">assignment</i>
                        <span style="margin-left: 10px">Course Name</span>
                    </div>
                </th>

                <%# Current Grade %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">timeline</i>
                        <span style="margin-left: 10px">Current Grade</span>
                    </div>
                </th>

                <%# Button column %>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <%# Insert a row for each enrolled course %>
            <% @courses.each_with_index do |course,index| %>
                <tr>
                    <%# Name %>
                    <td>
                        <h6><%= course.long_title %></h6>
                    </td>

                    <%# Current Grade %>
                    <td>
                        <% if(@grade_value[index] == "N/A") %>
                            <h6 style="margin: 0"><b><%= @grade_value[index]%></b></h6>
                        <% else %>
                            <h6 style="margin: 0"><b><%= @all_grade[index]%>% <%= @grade_value[index]%></b></h6>
                        <% end %>
                    </td>

                    <%# View Button %>
                    <td class="right">
                        <%= link_to(button_tag("View", class: "grey darken-2 waves-effect waves-light btn"), course_path(course)) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%# Table of recently marked assignments %>
    <% if !@recently_marked.empty? %>
        <h5 style="padding-top: 40px">Recently Marked</h5>
        <table>
            <thead>
                <tr>
                    <%# Assignment name %>
                    <th>
                        <div class="valign-wrapper">
                            <i class="material-icons">assignment</i>
                            <span style="margin-left: 10px">Assignment Name</span>
                        </div>
                    </th>

                    <%# Marked Date %>
                    <th>
                        <div class="valign-wrapper">
                            <i class="material-icons">access_time</i>
                            <span style="margin-left: 10px">Marked Date</span>
                        </div>
                    </th>

                    <%# Mark %>
                    <th>
                        <div class="valign-wrapper">
                            <i class="material-icons">assessment</i>
                            <span style="margin-left: 10px">Mark</span>
                        </div>
                    </th>

                    <%# Details button %>
                    <th>
                    </th>
                </tr>
            </thead>

            <tbody>
                <% @recently_marked.each do |assignment| %>
                    <tr>
                        <%# Assignment name %>
                        <td>
                            <h6><%= assignment.name %></h6>
                        </td>

                        <%# Marked Date %>
                        <td>
                            <h6><%= assignment.marked_date %></h6>
                        </td>

                        <%# Mark %>
                        <td>
                            <h6><%= "0/#{assignment.max_points}" %></h6>
                        </td>

                        <%# Details button %>
                        <td>
                            <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), submission_path(assignment.submissions.find_by(student_id: session[:id]))) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
<% end %>