<h3>Your Dashboard</h3>

<h5>Courses</h5>
<%# Show message if no courses %>
<% if @courses.empty? %>
    <div style="text-align: center; margin-top: 20%">
        <h6><i>You are not assigned to any courses</i></h6>
    </div>

<%# Table of courses %>
<% else %>
    <table>
        <thead>
            <tr>
                <%# Course Name %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">assignment</i>
                        <span style="margin-left: 10px">Course Name</span>
                    </div>
                </th>

                <%# Current Grade %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">timeline</i>
                        <span style="margin-left: 10px">Current Grade</span>
                    </div>
                </th>

                <%# Button column %>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <%# Insert a row for each enrolled course %>
            <% @courses.each_with_index do |course,index| %>
                <tr>
                    <%# Name %>
                    <td>
                        <h6><%= course.long_title %></h6>
                    </td>

                    <%# Current Grade %>
                    <td>
                        <% if(@grade_value[index] == "N/A") %>
                            <h6 style="margin: 0"><b><%= @grade_value[index]%></b></h6>
                        <% else %>
                            <h6 style="margin: 0"><b><%= @all_grade[index]%>% <%= @grade_value[index]%></b></h6>
                        <% end %>
                    </td>

                    <%# View Button %>
                    <td class="right">
                        <%= link_to(button_tag("View", class: "grey darken-2 waves-effect waves-light btn"), course_path(course)) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>