<%# Headings %>
<h3 style="margin-bottom: 0"> <%= "Update a#{@student.id}'s grade" %> </h3>
<h5 style="margin-bottom: 1.4em"> <%= @assignment.title %> </h5>
<h6 style="margin-bottom: 1.6em"> Please enter the full mark, not a percentage! </h6>

<%# Form to submit comment %>
<%= form_tag(submission_path(@submission), method: :put) do %>
    <%# Grade input %>
    <div class="input-field">
        <%= label_tag("submission[grade]", "New Grade (out of #{@assignment.max_points})") %>
        <%= text_field_tag("submission[grade]", nil, value: @submission.grade, class: "validate") %>
    </div>

    <%= submit_tag("Update Grade", class: "grey darken-2 btn") %>
<% end %>
<br>
<%=link_to(button_tag("Cancel", class: "grey btn"), submission_path(@submission)) %>