<h3> <%= @assignment.title %> </h3>

<%# import marks button %>
<%= form_with(url: {action: :import}, multipart: true) do %>
  <%= file_field_tag 'grades' %>
  <%= submit_tag 'Import Marks'%>
<% end %>

<table class="striped">
    <thead>
        <tr style="">
            <th> <i class="material-icons">assignment</i>    Student ID </th>
            <th> <i class="material-icons">access_time</i>     Submitted </th>
            <th> <i class="material-icons">assessment</i>     Mark </th>
        </tr>
    </thead>
    <tbody>
        <% @submissions.each do |submission| %>
            <tr>
                <td> <a href="<%= student_url(submission.student_id) %>"><%= submission.student_id %> </a> </td>
                <td> <%= submission.submitted_date %> </td>
                <td> <%= submission.grade %> </td>
                <td> <a href="<%= submission_url(submission) %>"> View Submission</a> </td>
            </tr>
        <% end %>
    </tbody>
</table>