<h3> <%= @assignment.title %> </h3>
<h5> <%= "a" + @student.student_id.to_s + "'s submission" %> </h5>

<p>Current grade: <%= (@submission.grade==nil || @assignment.max_points==nil) ? "N/A" : @submission.grade.to_s + '/' + @assignment.max_points.to_s %></p>

<table class="striped">
    <thead>
        <tr style="">
            <th> <i class="material-icons">chat</i>    Comment </th>
            <th> <i class="material-icons">account_box</i>     Marker </th>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
            <tr>
                <td> <%= comment.content %> </td>
                <td> <%= "a#{comment.marker.id}" %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<a href="<%= edit_submission_path(@submission) %>">Edit Grade</a>