<%= javascript_include_tag "application" %>

<%# Assignment title %>
<h3> <%= @assignment.title %> </h3>

<%# Student ID + submission date %>
<div class="row">
    <%# ID/Grade %>
    <div class="col s6" style="padding-left: 0">
        <h5 style="margin-top: 0.4em"> <%= "a#{@submission.student_id}'s Submission" %> </h5>
        <h6 class="pink-text text-darken-2">Grade: <%= @grade_string %> </h6>
    </div>

    <%# Date + marker buttons %>
    <div class="col s6" style="padding-right: 0">
        <h6 class="right"> <%= "Submitted at: #{@submission.submitted_date}"%> </h6>
        <%# Show 'add comment' and 'edit grade' buttons if logged in as a marker %>
        <% if session[:marker] == true %>
            <div class="right">
                <%= link_to(button_tag("Edit Grade", class: "grey darken-2 waves-effect waves-light btn-small"), edit_course_assignment_submission_path(params[:course_id], params[:assignment_id], @submission)) %>
                <%= link_to(button_tag("Add Comment", class: "grey darken-2 waves-effect waves-light btn-small"), new_course_assignment_submission_comment_path(params[:course_id], params[:assignment_id], @submission)) %>
            </div>
        <% end %>
    </div>
</div>

<%# Show message if no comments %>
<% if @comments.empty? %>
    <div style="text-align: center; margin-top: 20%">
        <h6><i>No comments have been added to this submission</i></h6>
    </div>

<%# Only show table if there are comments %>
<% else %>
    <table>
        <thead>
            <tr>
                <%# Comment %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">chat</i>
                        <span style="margin-left: 10px">Comment</span>
                    </div>
                </th>

                <%# Marker ID %>
                <th>
                    <div class="valign-wrapper">
                        <i class="material-icons">account_box</i>
                        <span style="margin-left: 10px">Marker</span>
                    </div>
                </th>

                <%# adds header for remove/edit buttons %>
                <% if session[:marker] == true %>
                  <th>
                  </th>
                <% end %>
            </tr>
        </thead>

        <tbody>
            <% @comments.each do |comment| %>
                <tr>
                    <%# Comment %>
                    <td> <%= comment.content %> </td>

                    <%# Marker ID %>
                    <td> <%= "a#{comment.marker.id}" %> </td>

                    <% if session[:marker] == true %>
                      <%# Remove Comment %>
                      <td class="right">
                        <%= link_to(button_tag("Remove", class: "red darken-2 waves-effect waves-light btn"), comment_path(comment, course_id: params[:course_id], assignment_id: @assignment, submission_id: @submission), :method => :delete, :confirm => 'del?') %>
                      </td>

                      <%# Edit Comment %>
                      <td class="right">
                        <%= link_to(button_tag("Edit", class: "grey darken-2 waves-effect waves-light btn"), comment_path(comment, course_id: params[:course_id], assignment_id: @assignment, submission_id: @submission), :method => :delete, :confirm => 'del?') %>
                      </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
