<h3 style="margin-bottom: 0"><%= @course.long_title %></h3>
<h5 class="grey-text text-darken-2" style="margin-top: 5px"><%= @course.subject + " " + @course.course_id.to_s %></h5>

<h5 style="margin-top: 30px">Students</h5>

<table>
    <thead>
        <tr>
            <%# Student Name %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assignment</i>
                    <span style="margin-left: 10px">Student Name</span>
                </div>
            </th>

            <%# Student ID %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assignment</i>
                    <span style="margin-left: 10px">Student ID</span>
                </div>
            </th>

            <%# Grades %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assessment</i>
                    <span style="margin-left: 10px">grades</span>
                </div>
            </th>
            <%# Details button %>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        <% cache [@student_grade,@student_grade_value] do%>
            <% @students.each_with_index do |student,index| %>
                <% if(@student_grade[index] == "F" || @student_grade[index] == "N/A") %>
                <tr>
                    <%# Student Name %>
                    <td>
                        <h6><%= student.first_name %> <%= student.last_name %></h6>
                    </td>

                    <%# Student ID %>
                    <td>
                        <h6><%= student.id %></h6>
                    </td>

                    <%# grades for current course %>
                    <td>
                        <% if(@student_grade[index] == "N/A") %>
                            <h6><%= @student_grade[index]%></h6>
                        <% else %>
                            <h6><%=@student_grade_value[index] %>% <%=@student_grade[index]%></h6>
                        <% end %>
                    </td>

                    <%# Details button %>
                </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>