<%# Course name + 'subject' %>
<h3 style="margin-bottom: 0"><%= @course.long_title %></h3>
<h5 class="grey-text text-darken-2" style="margin-top: 5px"><%= @course.subject + " " + @course.course_id.to_s %></h5>

<%# Calculations %>
<h5 style="margin-top: 30px">Summary</h5>
<div class="row" style="width: 100%">
    <%# Current Grade %>
    <% cache [@grade_value,@current_grade] do%>
        <div class="col s6">
            <div class="grey-box">
                <div class="valign-wrapper box-pad">
                    <i class="material-icons">donut_large</i>
                    <h6 style="margin-left: 10px">Current Grade</h6>
                        <% if @grade_value == "N/A" %>
                            <h6 style="margin-left: auto"><b><%= @grade_value%></b></h6>
                        <% else %>
                            <h6 style="margin-left: auto"><b><%= @current_grade%> <%= @grade_value%></b></h6>
                        <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <%# Remaining Assignments %>
    <div class="col s6">
        <div class="grey-box">
            <div class="valign-wrapper box-pad">
                <i class="material-icons">assignment</i>
                <h6 style="margin-left: 10px">Assignments Left</h6>
                <h6 style="margin-left: auto"><b><%= @remaining_assignments %></b></h6>
            </div>
        </div>
    </div>
</div>

<h5 style="margin-top: 30px">Assignments</h5>
<%# Show message if no comments %>
<% if @assignments.empty? %>
    <div style="text-align: center; margin-top: 20%">
        <h6><i>There are no assignments currently available for this course</i></h6>
    </div>


<%# Table listing any assignments/components that are graded %>
<% else %>
    <table id="table-id">
    <thead>
        <tr>
            <%# Assignment Name %>
            <th class="sortable">
                <div class="valign-wrapper" class="sortable">
                    <i class="material-icons">assignment</i>
                    <span style="margin-left: 10px">Assignment Name</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Due Date %>
            <th class="sortable">
                <div class="valign-wrapper">
                    <i class="material-icons">access_time</i>
                    <span style="margin-left: 10px">Due Date</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Weighting %>
            <th class="sortable">
                <div class="valign-wrapper">
                    <i class="material-icons">pie_chart</i>
                    <span style="margin-left: 10px">Weighting</span>
                    <i class="material-icons sortable-arrow">sort</i>
                </div>
            </th>

            <%# Mark %>
            <th data-sort-method='none'>
                <div class="valign-wrapper">
                    <i class="material-icons">assessment</i>
                    <span style="margin-left: 10px">Marks</span>
                </div>
            </th>

            <%# Status %>
            <th data-sort-method='none'>
                <div class="valign-wrapper">
                  <i class="material-icons">library_add_check</i>
                  <span style="margin-left: 10px">Status</span>
                </div>
            </th>
       </tr>
   </thead>

        <tbody>
            <% @assignments.each_with_index do |assignment,index| %>
                <tr>
                    <%# Assignment Name %>
                    <td>
                        <h6><%= assignment.title %></h6>
                    </td>

                    <%# Due Date %>
                    <td data-sort='<%= assignment.due_date.to_time.to_i %>'>
                        <h6><%= assignment.due_date.strftime('%d %b %Y') %></h6>
                    </td>

                    <%# Weighting %>
                    <td>
                        <h6><%= (assignment.weighting*100).round.to_s + "%" %></h6>
                    </td>

                    <%# Marks %>
                    <td>
                        <div class="valign-wrapper">
                            <h6 class="valign-wrapper grade-prediction"><%= number_field("mark", nil, value: @grades[index]) %>/<%= assignment.max_points %></h6>
                      
                            <%# Show graph button if there are grades %>
                            <% if !assignment.submissions.empty? %>
                                <i class="modal-trigger graph-button material-icons grey-text text-lighten-1 right" data-target="graph" data-student="<%= @grades[index] %>" data-id="<%= assignment.id %>" data-title="<%= assignment.title %>" data-type="assignment">info_outlined</i>
                            <% end %>
                        </div>
                    </td>

                    <%# Status %>
                    <td>
                        <% if assignment.submissions.find_by(student_id: session[:id]) != nil %>
                            <% if assignment.submissions.find_by(student_id: session[:id]).grade != nil %>
                                <i>Graded</i>
                            <% elsif assignment.submissions.find_by(student_id: session[:id]).submitted_date == nil && Date.today >= assignment.due_date %>
                                <i style="color:Red;">Missing</i>
                            <% elsif assignment.submissions.find_by(student_id: session[:id]).submitted_date == nil && Date.today < assignment.due_date %>
                                <i>Not Submitted</i>
                            <% elsif assignment.submissions.find_by(student_id: session[:id]).submitted_date != nil && assignment.submissions.find_by(student_id: session[:id]).submitted_date >= assignment.due_date %>
                                <i style="color:Red;">Late</i>
                            <% elsif assignment.submissions.find_by(student_id: session[:id]).submitted_date != nil && assignment.submissions.find_by(student_id: session[:id]).submitted_date < assignment.due_date %>
                                <i>Pending Mark</i>
                            <% end %>
                        <% end %>
                    </td>

                    <%# Details button %>
                    <td>
                    <% if assignment.submissions.find_by(student_id: session[:id]) %>
                        <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), submission_path(assignment.submissions.find_by(student_id: session[:id]))) %>
                    <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
    </table>
<% end %>


<%= javascript_include_tag 'sortable-arrows' %>
