<%# Course name + 'subject' %>
<h3 style="margin-bottom: 0"><%= @course.long_title %></h3>
<h5 class="grey-text text-darken-2" style="margin-top: 5px"><%= @course.subject + " " + @course.course_id.to_s %></h5>

<%# Calculations %>
<h5 style="margin-top: 30px">Summary</h5>
<div class="row" style="width: 100%">
    <%# Current Grade %>
    <div class="col s6">
        <div class="grey-box">
            <div class="valign-wrapper box-pad">
                <i class="material-icons">donut_large</i>
                <h6 style="margin-left: 10px">Current Grade</h6>
                    <% if(@grade_value == "N/A") %>
                        <h6 style="margin-left: auto"><b><%= @grade_value%></b></h6>
                    <% else %>
                        <h6 style="margin-left: auto"><b><%= @current_grade%>% <%= @grade_value%></b></h6>
                    <% end %>
            </div>
        </div>
    </div>

    <%# Remaining Assignments %>
    <div class="col s6">
        <div class="grey-box">
            <div class="valign-wrapper box-pad">
                <i class="material-icons">assignment</i>
                <h6 style="margin-left: 10px">Assignments Left</h6>
                <h6 style="margin-left: auto"><b>1</b></h6>
            </div>
        </div>
    </div>
</div>

<%# Table listing any assignments/components that are graded %>
<h5 style="margin-top: 30px">Assignments</h5>
<table>
    <thead>
        <tr>
            <%# Assignment Name %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assignment</i>
                    <span style="margin-left: 10px">Assignment Name</span>
                </div>
            </th>

            <%# Due Date %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">access_time</i>
                    <span style="margin-left: 10px">Due Date</span>
                </div>
            </th>

            <%# Weighting %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">pie_chart</i>
                    <span style="margin-left: 10px">Weighting</span>
                </div>
            </th>

            <%# Mark %>
            <th>
                <div class="valign-wrapper">
                    <i class="material-icons">assessment</i>
                    <span style="margin-left: 10px">Max Mark</span>
                </div>
            </th>

            <%# Details button %>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        <% @assignments.each_with_index do |assignment,index| %>
            <tr>
                <%# Assignment Name %>
                <td>
                    <h6><%= assignment.title %></h6>
                </td>

                <%# Due Date %>
                <td>
                    <h6><%= assignment.due_date %></h6>
                </td>

                <%# Weighting %>
                <td>
                    <h6><%= (assignment.weighting*100).round.to_s + "%" %></h6>
                </td>

                <%# Marks %>
                <td>
                    <h6><%= @grades[index] %>/<%= assignment.max_points %></h6>
                </td>

                <%# Details button %>
                <td>
                    <% if @is_marker %>
                        <%# Routes to where a marker will marks all assignments %>
                        <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), course_assignment_submissions_path(@course, assignment)) %>
                    <% elsif assignment.submissions.find_by(student_id: session[:id]) %>
                        <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), course_assignment_submission_path(@course, assignment)) %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>

</table>