<h3> <%= @course.long_title %> </h3>
<h5> <%= @course.subject + " " + @course.course_id.to_s %> </h5>

<table class="striped">
    <thead>
        <tr style="">
            <th> <i class="material-icons">assignment</i>   Assignments </th>
            <th> <i class="material-icons">access_time</i>    Due Date </th>
            <th> <i class="material-icons">pie_chart</i>     Weighting </th>
            <th> <i class="material-icons">assessment</i>     Marks </th>
        </tr>
    </thead>
    <tbody>
        <% @assignments.each do |assignment| %>
            <tr>
                <% if @is_marker %>
                  <%# Routes to where a marker will marks all assignments %>
                  <td> <%= link_to assignment.title, marker_course_assignment_submissions_path(@person, @course, assignment) %> </td>
                <% else %>
                <td> <%= link_to assignment.title, student_course_assignment_submission_path(@person, @course, assignment) %> </td>
                <% end %>

                <td> <%= assignment.due_date %> </td>
                <td> <%= (assignment.weighting*100).to_i %> % </td>
                <td> <%= assignment.max_points %> </td>
            </tr>
        <% end %>
    </tbody>

</table>