<%# Course name + 'subject' %>
<h3 style="margin-bottom: 0"><%= @course.long_title %></h3>
<h5 class="grey-text text-darken-2" style="margin-top: 5px"><%= @course.subject + " " + @course.course_id.to_s %></h5>

<h5 style="margin-top: 30px">Assignments</h5>
<%# Show message if no comments %>
<% if @assignments.empty? %>
    <div style="text-align: center; margin-top: 20%">
        <h6><i>There are no assignments currently available for this course</i></h6>
    </div>

<%# Table listing any assignments/components that are graded %>
<% else %>
    <%= link_to(button_tag("View Failing Students", class: "orange darken-2 waves-effect waves-light btn"), course_path(@course)+"/failing") %>

    <table id="table-id">
        <thead>
            <tr>
                <%# Assignment Name %>
                <th class="sortable">
                    <div class="valign-wrapper">
                        <i class="material-icons">assignment</i>
                        <span style="margin-left: 10px">Assignment Name</span>
                        <i class="material-icons sortable-arrow">sort</i>
                    </div>
                </th>

                <%# Due Date %>
                <th class="sortable">
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>
                        <span style="margin-left: 10px">Due Date</span>
                        <i class="material-icons sortable-arrow">sort</i>
                    </div>
                </th>

                <%# Weighting %>
                <th class="sortable">
                    <div class="valign-wrapper">
                        <i class="material-icons">pie_chart</i>
                        <span style="margin-left: 10px">Weighting</span>
                        <i class="material-icons sortable-arrow">sort</i>
                    </div>
                </th>

                <%# Mark %>
                <th data-sort-method='none'>
                    <div class="valign-wrapper">
                        <i class="material-icons">assessment</i>
                        <span style="margin-left: 10px">Mark</span>
                    </div>
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% @assignments.each_with_index do |assignment,index| %>
                <tr>
                    <%# Assignment Name %>
                    <td>
                        <h6><%= assignment.title %></h6>
                    </td>

                    <%# Due Date %>
                    <td data-sort='<%= assignment.due_date.to_time.to_i %>'>
                        <h6><%= assignment.due_date.strftime('%d %b %Y') %></h6>
                    </td>

                    <%# Weighting %>
                    <td>
                        <h6><%= (assignment.weighting*100).round.to_s + "%" %></h6>
                    </td>

                    <%# Marks %>
                    <td>
                        <h6><%= assignment.max_points %></h6>
                    </td>

                    <%# Details button %>
                    <td>
                        <%= link_to(button_tag("Details", class: "grey darken-2 waves-effect waves-light btn"), assignment_path(assignment)) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= javascript_include_tag 'sortable-arrows' %>
