<!DOCTYPE html>
<html>
    <head>
        <title>Marqs - Australia's Leading Grading Platform</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%# Load fonts from Google %>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Raleway&display=swap" rel="stylesheet">

        <%# Load application-specific CSS %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application'%>

        <%# Load Materalize CSS %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= stylesheet_link_tag 'materialize' %>

        <%# jquery %>
        <%= javascript_include_tag 'jquery.min' %>
        <%= javascript_include_tag 'tablesort' %>
        <%= javascript_include_tag 'tablesort.number' %>
        <%= javascript_include_tag 'tablesort.date' %>

        <%# dialog options %>
        <link href="https://cdn.jsdelivr.net/gh/dmuy/duDialog@1.1.2/dist/duDialog.css" rel="stylesheet"></link>
        <script src="https://cdn.jsdelivr.net/gh/dmuy/duDialog@1.1.2/dist/duDialog.js"></script>
        <%= javascript_include_tag 'duDialog' %>
        <%= stylesheet_link_tag 'duDialog' %>
    </head>

    <body style="background-color: rgb(237, 237, 239); margin-bottom: 50px">
        <%# Navbar %>
        <nav>
            <div class="nav-wrapper white">
                <%# Name (home link) %>
                <%= link_to("Marqs", root_path, class: "brand-logo heading-style left", style: "margin-left: 30px") %>

                <%# Account section (only shown if logged in)%>
                <% if @logged_in %>
                    <div class="right" style="height: 100%; max-height: 100%; padding: 10px 30px 10px 0">
                        <%# Image %>
                        <%= image_tag("account_placeholder.png", alt: "Account image", class: "right", style: "height: 100%")%>

                        <%# Name + logout %>
                        <div class="center-vertical right" style="margin-right: 10px; padding: 0">
                            <p style="font-family: Nunito; font-size: 1.1em; color: black; margin: 0;"><%= (@logged_in_user == nil ? "Nil User" : @logged_in_user.full_name) %></p>
                            <p style="font-size: 0.9em; margin: 0 0 0 auto;"><%= link_to("Logout", "/login/show", class: "pink-text") %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        </nav>
        <div class="left valign-wrapper breadcrumb-div">
          <ol class="left-align breadcrumbs">
            <%# Breadcrumb %>
            <%= render_breadcrumbs :separator => "/" %>
          </ol>
        </div>

        <%# All errors, assumes flash[:errors] is an array of strings %>
        <% unless flash[:errors].nil? %>
            <% flash[:errors].each do |error| %>
                <div class="center-align" style="margin-top: 2em">
                    <div class="center-vertical flash-wrapper" style="border-color: red;">
                        <h6 style="display: inline-block; margin-left: 1em; margin-right: 1em; color: red;"> <%= error %> </h6>
                    </div>
                </div>
            <% end %>
        <% end %>

        <%# Container for other elements %>
        <div class="container">
            <%# Flash message (show if not empty) %>
            <% if flash[:notice] %>
                <div class="center-align" style="margin-top: 2em">
                    <div class="center-vertical flash-wrapper">
                        <h6 style="display: inline-block; margin-left: 1em; margin-right: 1em"> <%= flash[:notice] %> </h6>
                    </div>
                </div>
            <% end %>

            <%# Other views go here %>
            <%= yield %>
        </div>

        <%# Graph modal %>
        <div id="graph" class="modal">
            <%# Actual content %>
            <div class="modal-content" style="padding-bottom: 0">
                <%# Heading %>
                <h5 id="graph-heading" class="truncate"></h5>

                <%# Loading text/statistics %>
                <h6 id="graph-loading" style="padding-top: 10px"></h6>

                <%# Graph %>
                <div id="graph-container" class="center"></div>
            </div>

            <div class="row" style="margin: 0; padding: 10px 24px 12px 24px">
                <%# Statistics %>
                <div class="col s6">
                    <div>
                        <p id="graph-stats" style="margin: 0; text-align: left; white-space: pre-wrap"></p>
                    </div>
                </div>

                <%# Close button %>
                <div class="col s6">
                    <div class="right" style="padding-top: 3px">
                        <%= button_tag("Close", class: "grey darken-2 waves-effect waves-light btn modal-close") %>
                    </div>
                </div>
            </div>
        </div>

        <%# Load modal JS last %>
        <%= javascript_include_tag 'materialize' %>
        <%= javascript_include_tag 'graph' %>
    </body>
</html>
