<!DOCTYPE html>
<html>
    <head>
        <title>Marqs - Australia's Leading Grading Platform</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%# Load fonts from Google %>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Raleway&display=swap" rel="stylesheet">

        <%# Load application-specific CSS %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%# Load Materalize CSS %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= stylesheet_link_tag 'materialize' %>
    </head>

    <body style="background-color: rgb(237, 237, 239); margin-bottom: 50px">
        <%# Navbar %>
        <nav>
            <div class="nav-wrapper white">
                <%# Name (home link) %>
                <%= link_to("Marqs", root_path, class: "brand-logo heading-style left", style: "margin-left: 30px") %>

                <%# Account section (only shown if logged in)%>
                <% if @logged_in %>
                    <div class="right" style="height: 100%; max-height: 100%; padding: 10px 30px 10px 0">
                        <%# Image %>
                        <%= image_tag("account_placeholder.png", alt: "Account image", class: "right", style: "height: 100%")%>

                        <%# Name + logout %>
                        <div class="center-vertical right" style="margin-right: 10px; padding: 0">
                            <p style="font-family: Nunito; font-size: 1.1em; color: black; margin: 0;"><%= @logged_in_user.full_name%></p>
                            <p style="font-size: 0.9em; margin: 0 0 0 auto;"><%= link_to("Logout", "/login/show", class: "pink-text") %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        </nav>

        <%# Container for other .erb's to fill %>
        <p> <%=flash[:notice]%> </p>
        <%# All errors, assumes flash[:errors] is an array of strings %>
        <% if !flash[:errors].nil? %>
            <% flash[:errors].each do |error| %>
                <%= error %> <br>
            <% end %>
        <% end %>
        <div class="container">
            <%= yield %>
        </div>

        <%# Materialize's JS %>
        <%= javascript_include_tag 'materialize' %>
    </body>
</html>
