<!DOCTYPE html>
<html>
  <head>
    <title>Marqs - Group3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%
=begin%>
 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'materialize' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper cyan darken-3">
        <a href="#" class="brand-logo left">Marqs</a>
        </ul>
      </div>
    </nav>
    <p><%=flash[:notice]%></p>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'materialize' %>
  </body>
</html>
